.left-menu {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 13px;

  &__item-menu {
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 0 !important;
    font-weight: lighter;
    border-left: 4px solid transparent;

    color: var(--color-gray-700);
    &.active {
      border-color: var(--color-primary);
      color: var(--text-color);
    }
  }
}
