@import "../../assets/style.css"; // importa variables

.auth {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/jpg/background-auth.jpg");
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 500px;
    background-color: var(--color-background);
    padding: 50px 70px;
    border-radius: 10px;
    &-logo {
      display: flex;
      margin: 0 auto;
      width: 200px;
    }
  }
}
