$footerHeight: 100px;
$menuWidth: 250px;
.logged-layout {
  height: 100vh;
  background-color: var(--color-background);
  &__content {
    display: flex;
    height: calc(100% - $footerHeight);
  }

  &__left-menu {
    background-color: var(--color-background-dark);
    width: $menuWidth;
  }

  &__children-content {
    width: calc(100% - $menuWidth);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__top-bar {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1;
  }
  &__footer {
    position: relative;
    height: $footerHeight;
    background-color: var(--color-background-secondary);
    border-top: 1px solid var(--color-background-dark);
    box-shadow: 0px 0px 20px -5px var(--color-background-dark);
  }
}
